/*
	AUTHOR: François Grabenstaetter
	LICENSE: GPL 3.0
*/

#mainBox {
	padding: 20px;
}

#infosBox > box {
	padding: 20px;
}

#infosBox label {
	font-size: 16px;
}

#priceGrey, #priceGreen, #priceRed {
	font-weight: bold;
}

#priceGreen {
	color: #66BB6A;
}

#priceRed {
	color: #EF5350;
}

#currencyName {
	font-size: 20px;
	font-weight: bold;
}

#currencySymbol {
	font-size: 17px;
}

#currencyPriceDown, #currencyPriceUp {
	font-size: 24px;
	font-weight: bold;
}

#currencyPriceDown {
	color: #EF5350;
}

#currencyPriceUp {
	color: #66BB6A;
}

#priceBox {
	font-size: 22px;
	min-height: 100px;
}

#currencyPrice{
	font-weight: 600;
}

#quote {
	opacity: 0.8;
}

#infoTitle {
	font-weight: bold;
}

#networkErrorLabel {
	font-weight: bold;
	font-size: 16px;
}

#linkButton {
	padding: 10px;
}

#baseCurrencyPopoverSymbol {
	padding: 0 4px;
}

#settingsAPIKeyInfos {
	color: alpha(currentColor, 0.7);
	font-size: 14px;
}
